body {
  background: whitesmoke;
}

.closed {
  height: 0;
  overflow: hidden;
}

.open {
}

.red {
  color: red;
}

.blue {
  color: blue;
}
 
#sorting-algorithm-process {
  text-align: center;
  border: solid;
  border-color: aqua;
}

.node-diagram-container { 
  height: calc(100% - 44.50px - 44.50px);
  margin: 30;
  border: 'dashed';
  border-color: 'yellow';
  position: 'relative';
}